body {
  margin: 0px;
  padding: 0px;
  font-size: 14px;
}

.footer {
  display: flex;
  flex-flow: row wrap;
  background: #252528;
  padding-bottom: 30px;

  &__section {
    display: flex;
		flex-flow: row wrap;
    width: 100%;
    
    &__column {
      display: flex;
			flex-flow: row wrap;
      flex-grow: 1;
      
      &--right {
        height: 200px;
      }
      
      &--center {
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: center;
      }

      &__block {
        flex-grow: 1;
      }
    }

    &__market-block {
      list-style-type: none;
      line-height: 20px;
      padding-left: 20px;

      &--header {
        color: grey;
      }
      
      &__link {
        text-decoration: none;
        color: #fff;

        &:hover {
          color: cyan;
        }
      }
    }
  }

  &__copyright {
    color: #fff;
    text-align: center;
    font-size: 90%;
    text-align: center;
    width: 100%;

    &--link {
      color: #fff;
      text-decoration: none;
    }
  }
}