{% extends 'layout.twig' %}
{% block content %}
<div class="footer">
    <div class="footer__section">
        <div class="footer__section__column footer__section__column--left">
        {% for column in data %}
            <div class="footer__section__column__block">
            {% for region in column %}
                <ul class="footer__section__market-block">
                    <li class="footer__section__market-block--header">{{ region.label }}</li>
                    {% for market in region.markets %}
                        <li class="footer__section__market-block--item">
                            <a class="footer__section__market-block__link" href="#">{{ market.label }}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% endfor %}
            </div>
        {% endfor %}
        </div>
        <div class="footer__section__column footer__section__column--right">
            <div class="footer__section">
                <div class="footer__section__column">
                    <ul class="footer__section__market-block">
                        <li class="footer__section__market-block--header">About</li>
                        <li class="footer__section__market-block--item">
                            <a class="footer__section__market-block__link" href="/about/rentals">Rentals</a>
                        </li>
                        <li class="footer__section__market-block--item">
                            <a class="footer__section__market-block__link" href="/about/concierge">Concierge</a>
                        </li>
                        <li class="footer__section__market-block--item">
                            <a class="footer__section__market-block__link" href="/about/owners">Owners</a>
                        </li>
                    </ul>
                </div>
                <div class="footer__section__column">
                    <ul class="footer__section__market-block">
                        <li class="footer__section__market-block--header">&nbsp</li>
                        <li class="footer__section__market-block--item">
                            <a class="footer__section__market-block__link" href="/about/partners">Partners</a>
                        </li>
                        <li class="footer__section__market-block--item">
                            <a class="footer__section__market-block__link" href="/about/sales">Home Sales</a>
                        </li>
                        <li class="footer__section__market-block--item">
                            <a class="footer__section__market-block__link" href="/about/events">Events</a>
                        </li>
                    </ul>
                </div>
                <div class="footer__section__column">
                    <ul class="footer__section__market-block">
                        <li class="footer__section__market-block--header">&nbsp</li>
                        <li class="footer__section__market-block--item">
                            <a class="footer__section__market-block__link" href="/about/giftprogram">Gift Program</a>
                        </li>
                        <li class="footer__section__market-block--item">
                            <a class="footer__section__market-block__link" href="/about/homefund">Home Fund</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="footer__section">
                <div class="footer__section__column footer__section__column--center">
                    <a target="_blank" href="https://www.facebook.com/lvhglobal">
                        <img src="http://lvhglobal.com/webnew/img/social2/fb.png" height="50px" width="50px" alt="Facebook">
                    </a>
                </div>
                <div class="footer__section__column footer__section__column--center">
                    <a target="_blank" href="https://www.instagram.com/lvhglobalofficial"><img src="http://lvhglobal.com/webnew/img/social2/instagram.png" height="50px" width="50px" alt="Instagram"></a>
                </div>
                <div class="footer__section__column footer__section__column--center">
                    <a target="_blank" href="https://www.linkedin.com/company/lvh-global"><img src="http://lvhglobal.com/webnew/img/social2/linkedin.png" height="50px" width="50px" alt="Linkedin"></a>
                </div>
                <div class="footer__section__column footer__section__column--center">
                    <a target="_blank" href="https://www.youtube.com/channel/UCL24i6WFP8FNiEYJvylsWiw"><img src="http://lvhglobal.com/webnew/img/social2/youtube.png" height="50px" width="50px" alt="Youtube"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__copyright">
        <div>© 2016-2018 LVH Global. All rights reserved.</div>
        <div><a class="footer__copyright--link" href="/about/privacy">Privacy Policy</a></div>
    </div>
</div>
{% endblock content %}