<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="build/stylesheet/style.css" rel="stylesheet"/>
    <title>Twig Test</title>
</head>
<body>

{% block content %}
{% endblock %}

</body>
</html>